# 한빛 아카데미 새로나온 책 10페이지<br>
-제목,저자,출간일,쪽수,가격,역자

In [14]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm

In [15]:
base_url='https://www.hanbit.co.kr'
sub_url='/academy/books/new_book_list.html'
url=base_url+sub_url+'?page='+str(1)
req=requests.get(url)
soup=BeautifulSoup(req.text,'html.parser')

1.찾으려고 하는 목록 데이터

In [16]:
lis=soup.select('li.sub_book_list')
len(lis)

20

2.하나의 데이터로 원하는 정보 추출

In [17]:
li=lis[0]
href=li.find('a')['href']
href

'/academy/books/book_view.html?p_code=B8672666879'

sub 페이지로 이동해서 원하는 정보 추출

In [18]:
sub_req=requests.get(base_url+href)
sub_soup=BeautifulSoup(sub_req.text,'html.parser')

In [19]:
title=sub_soup.select_one('.store_product_info_box > h3').get_text().strip()
title

'STEM CookBook, 문제 해결력을 키우는 기계설계'

In [22]:
info_lis=sub_soup.select('.info_list > li')
info_dict={}
for li in info_lis:
  key=li.find('strong').get_text().split(' ')[0]
  val=li.find('span').get_text().strip()
  info_dict[key]=val
info_dict

{'ISBN': '9791156646150',
 '물류코드': '4615',
 '저자': '이상범',
 '출간': '2022-08-05',
 '페이지': '680 쪽'}

In [23]:
author=info_dict['저자']
try:
  translator=info_dict['번역']
except:
  translator='-'
date=info_dict['출간']
page=int(info_dict['페이지'].split(' ')[0].replace(',',''))
author,translator,date,page

('이상범', '-', '2022-08-05', 680)

In [26]:
price=int(sub_soup.select_one('.pbr > strong').get_text().replace(',',''))
price

34000

3. 한 페이지 내의 모든 정보 가져오기

In [28]:
lines=[]
for li in lis:
  href=li.find('a')['href']
  sub_req=requests.get(base_url+href)
  sub_soup=BeautifulSoup(sub_req.text,'html.parser')
  title=sub_soup.select_one('.store_product_info_box > h3').get_text().strip()
  info_lis=sub_soup.select('.info_list > li')
  info_dict={}
  for li in info_lis:
    key=li.find('strong').get_text().split(' ')[0]
    val=li.find('span').get_text().strip()
    info_dict[key]=val
  author=info_dict['저자']
  try:
    translator=info_dict['번역']
  except:
    translator='-'
  date=info_dict['출간']
  page=int(info_dict['페이지'].split(' ')[0].replace(',',''))
  price=int(sub_soup.select_one('.pbr > strong').get_text().replace(',',''))
  lines.append([title,author,translator,date,page,price])

4.데이터프레임으로 만들고 확인하기

In [30]:
df=pd.DataFrame(lines,columns=['제목','저자','번역','출간일','쪽수','판매가'])
df

,제목,저자,번역,출간일,쪽수,판매가
0,"STEM CookBook, 문제 해결력을 키우는 기계설계",이상범,-,2022-08-05,680,34000
1,경영분석(6판),"장영광 , 송치승",-,2022-07-22,556,36000
2,"IT CookBook, 기초부터 시작하는 PLC : OMRON NX","정완보 , 이진호",-,2022-07-18,636,32000
3,"IT CookBook, 원리로 이해하는 전력전자공학(2판)","원충연 , 김영렬 , 이택기 , 류홍제 , 故정용채",-,2022-07-11,588,30000
4,"IT CookBook, TCP/IP 소켓 프로그래밍(2판)",김선우,-,2022-06-30,600,32000
5,"IT CookBook, 쉽게 배우는 데이터 통신과 컴퓨터 네트워크(3판)",박기현,-,2022-06-30,676,30000
6,"IT CookBook, 우분투 리눅스(3판)",이종원,-,2022-06-30,800,34000
7,거시경제학(3판),주상영,-,2022-06-30,640,36000
8,실용적 접근 방식의 경영학원론(10판),"Angelo Kinicki , Denise Breaux Soignet",김안드레아,2022-06-30,800,39000
9,"IT CookBook, C로 시작하는 컴퓨터 프로그래밍(4판)","문호석, 손명호",-,2022-06-26,432,23000
10,"IT CookBook, 인터넷 해킹과 보안(4판)",김경곤,-,2022-06-25,456,29000
11,"IT CookBook, 파이썬 데이터 분석 for Beginner",우재남,-,2022-06-23,504,28000
12,"IT CookBook, 엑셀 2019",김지연,-,2022-06-20,456,20000
13,"IT CookBook, 소프트웨어 공학 이론과 실제",홍장의,-,2022-06-10,528,33000
14,공학도라면 반드시 알아야 할 최소한의 수학(8판),John Bird,이재원,2022-06-10,432,25000
15,"IT CookBook, UI/UX 디자인 이론과 실무 with 어도비 XD",이영주,-,2022-05-20,512,30000
16,"STEM@CookBook, 공학 기초수학(2판)",함남우,-,2022-05-02,484,22000
17,"STEM@CookBook, Beer의 정역학과 재료역학(3판)","Ferdinand P. Beer , E. Russell Johnston, Jr. ,...","김경식 , 박재균 , 오창국 , 이정휘",2022-03-22,772,39000
18,STEIN 푸리에 해석학,"ELIAS M. STEIN , RAMI SHAKARCHI","한빛수학교재연구소 , 이상혁(감수)",2022-03-18,348,38000
19,미분적분학 : 기초부터 응용까지,수학교재편찬위원회,-,2022-03-04,680,35000

5. 10페이지 정보 가져오기

In [32]:
lines=[]
for page in range(1,11):
  url=base_url+sub_url+'?page='+str(1)
  req=requests.get(url)
  soup=BeautifulSoup(req.text,'html.parser')
  lis=soup.select('li.sub_book_list')
  for li in lis:
    href=li.find('a')['href']
    sub_req=requests.get(base_url+href)
    sub_soup=BeautifulSoup(sub_req.text,'html.parser')
    title=sub_soup.select_one('.store_product_info_box > h3').get_text().strip()
    info_lis=sub_soup.select('.info_list > li')
    info_dict={}
    for li in info_lis:
        key=li.find('strong').get_text().split(' ')[0]
        val=li.find('span').get_text().strip()
        info_dict[key]=val
    author=info_dict['저자']
    try:
        translator=info_dict['번역']
    except:
        translator='-'
    date=info_dict['출간']
    page=int(info_dict['페이지'].split(' ')[0].replace(',',''))
    price=int(sub_soup.select_one('.pbr > strong').get_text().replace(',',''))
    lines.append([title,author,translator,date,page,price])

6.모든 데이터를 데이터프레임으로 만들고 저장하기

In [33]:
df=pd.DataFrame(lines,columns=['제목','저자','번역','출간일','쪽수','판매가'])
df.tail()

,제목,저자,번역,출간일,쪽수,판매가
195,"IT CookBook, UI/UX 디자인 이론과 실무 with 어도비 XD",이영주,-,2022-05-20,512,30000
196,"STEM@CookBook, 공학 기초수학(2판)",함남우,-,2022-05-02,484,22000
197,"STEM@CookBook, Beer의 정역학과 재료역학(3판)","Ferdinand P. Beer , E. Russell Johnston, Jr. ,...","김경식 , 박재균 , 오창국 , 이정휘",2022-03-22,772,39000
198,STEIN 푸리에 해석학,"ELIAS M. STEIN , RAMI SHAKARCHI","한빛수학교재연구소 , 이상혁(감수)",2022-03-18,348,38000
199,미분적분학 : 기초부터 응용까지,수학교재편찬위원회,-,2022-03-04,680,35000

In [35]:
df.to_csv('한빛신간도서(220808).csv',index=False)